* {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

/* ---------- START OF NAVBAR CSS ---------- */

.navbar-container {
    background-color: grey;
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content:space-between;
    width: 100%;
    border: solid 1px black;
   
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 85%);
   
}

.navbar-item {
    flex: 1;
    padding: 0;
    width: 200px;
    height: 100px;
    
}

.navbar-links {
    color: black;
    display: flex;
    align-items:center;
    text-decoration:none;
    padding: 0 1rem;
    height: 100%;
    font-size: large;
    
}

#link-home {
    background-image: url(images/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#link-spain {
    background-image: url(images/spain.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#link-japan {
    background-image: url(images/japan2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#link-cajun {
    background-image: url(images/cajun1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#link-cuban {
    background-image: url(images/cuban.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#link-puerto {
    background-image: url(images/prico.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media all and (max-width: 800px) {
    .navbar-container {
        flex-flow: column wrap;
        padding: 0;
    }

    .navbar-container a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid yellow;
    }

    .navbar-container li:last-of-type a {
        border-bottom: none;
    }
    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        background-image: none;
        background-color: grey;
    }

    #link-home {
        background-image: none;
        background-color: grey;
    }

    #link-japan {
        background-image: none;
        background-color: grey;
    }
}

/* ---------- END OF NAVBAR CSS ---------- */